### Подключение модулей

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

### Загрузка данных

In [3]:
df = pd.read_csv('credit_score_train.csv', low_memory=False)

In [4]:
df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [6]:
df.shape

(100000, 28)

##### Размер набора данных: 100,000 наблюдений, 28 признаков

In [7]:
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

### Описание данных

##### Признаки:
- **ID** – уникальный идентификатор пользователя
- **Customer_ID** - уникальный идентификатор клиента
- **Month** - месяц кредита
- **Name** - Имя и фамилия клиента
- **Age** - Возраст клиента
- **SSN** - Номер соц. страхования клиента
- **Occupation** - Должность клиента
- **Annual_Income** - Ежегодный доход клиента
- **Monthly_Inhand_Salary** - Ежемесячная зарплата клиента
- **Num_Bank_Accounts** - Количество банковских счётов у клиента
- **Num_Credit_Card** - Количество кредитных карточек у клиента
- **Interest_Rate** - Процетная ставка кредита
- **Num_of_Loan** - Количество кредитов у клиента
- **Type_of_Loan** - Тип кредита
- **Delay_from_due_date** - Задержка оплаты кредита
- **Num_of_Delayed_Payment** - Количество задержанных платежей
- **Changed_Credit_Limit** - Корректировка кредитного лимита клиента.
- **Num_Credit_Inquiries** - Количество кредитных запросов
- **Credit_Mix** - Различные виды кредитов, которыми пользуется клиент.
- **Outstanding_Debt** - Сколько выплачено клиентом
- **Credit_Utilization_Ratio** - Коэффициент использования кредитов
- **Credit_History_Age** - Возраст кредитной истории
- **Payment_of_Min_Amount** - Указывает, платит ли клиент минимально необходимую сумму каждый месяц.
- **Total_EMI_per_month** - Общий эквивалентный ежемесячный платеж (EMI), выплаченный клиентом.
- **Amount_invested_monthly** - Ежемесячная сумма инвестиций, сделанных клиентом.
- **Payment_Behaviour** - Платёжные привычки клиента.
- **Monthly_Balance** - Остаток на счете клиента в конце каждого месяца.
- **Credit_Score** - Кредитные рейтинг клиента

In [9]:
df.info(max_cols=30, verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [10]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,100000,100000,0x1602,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer_ID,100000,12500,CUS_0xd40,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Month,100000,8,January,12500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,90015,10139,Langep,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,100000,1788,38,2833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SSN,100000,12501,#F%$D@*&8,5572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Occupation,100000,16,_______,7062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Annual_Income,100000,18940,36585.12,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monthly_Inhand_Salary,84998.0,NaN,NaN,NaN,4194.17085,3183.686167,303.645417,1625.568229,3093.745,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,NaN,NaN,NaN,17.09128,117.404834,-1.0,3.0,6.0,7.0,1798.0
Num_Credit_Card,100000.0,NaN,NaN,NaN,22.47443,129.05741,0.0,4.0,5.0,7.0,1499.0
Interest_Rate,100000.0,NaN,NaN,NaN,72.46604,466.422621,1.0,8.0,13.0,20.0,5797.0
Num_of_Loan,100000,434,3,14386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type_of_Loan,88592,6260,Not Specified,1408,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delay_from_due_date,100000.0,NaN,NaN,NaN,21.06878,14.860104,-5.0,10.0,18.0,28.0,67.0
Num_of_Delayed_Payment,92998,749,19,5327,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Changed_Credit_Limit,100000,4384,_,2091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Num_Credit_Inquiries,98035.0,NaN,NaN,NaN,27.754251,193.177339,0.0,3.0,6.0,9.0,2597.0
Credit_Mix,100000,4,Standard,36479,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outstanding_Debt,100000,13178,1360.45,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Credit_Utilization_Ratio,100000.0,NaN,NaN,NaN,32.285173,5.116875,20.0,28.052567,32.305784,36.496663,50.0
Credit_History_Age,90970,404,15 Years and 11 Months,446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payment_of_Min_Amount,100000,3,Yes,52326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total_EMI_per_month,100000.0,NaN,NaN,NaN,1403.118217,8306.04127,0.0,30.30666,69.249473,161.224249,82331.0
Amount_invested_monthly,95521,91049,__10000__,4305,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payment_Behaviour,100000,7,Low_spent_Small_value_payments,25513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monthly_Balance,98800,98792,__-333333333333333333333333333__,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Credit_Score,100000,3,Standard,53174,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Вывод

Поля, в которых есть пропущенные значения: Name, Monthly_Inhand_Salary, Type_of_Loan, Num_of_Delayed_Payment, Num_Credit_Inquiries, Credit_History_Age, Amount_invested_monthly и Monthly_Balance.

Поля, в которых есть некорректные значения: Age, SSN, Annual_Income, Num_Credit_Card, Interest_Rate, Num_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Outstanding_Debt и Amount_invested_monthly.

In [11]:
df.duplicated().sum()

0

In [12]:
df.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

### Исправление данных в датасете

In [13]:
# Очистка столбца Age
df["Age"] = df["Age"].str.replace(r'[_\s-]', '', regex = True)

In [14]:
# Изменение типа данных в столбце Age
df = df.astype({'Age': 'int32'})

In [15]:
# Исправление неправильных данных
def age(age):
    if age > 120:
        return df["Age"].median()
    if age < 0:
        Age = abs(age)
        if Age > 120:
            return df["Age"].median()
        else:
            return Age
    return age

df["Age"] = df["Age"].apply(age)

In [16]:
# Заполнение пустых данных
df["Age"] = df["Age"].fillna(df["Age"].median())

In [17]:
# Удаление неправильных данных
df["SSN"] = df["SSN"].str.replace(r'^#F%\$D@\*&8', "", regex = True)

In [18]:
# Очистка столбца Annual_Income
df["Annual_Income"] = df["Annual_Income"].str.replace(r'[_\s-]', '', regex = True)

In [19]:
# Изменение типа данных в столбце Annual_Income
df = df.astype({'Annual_Income': 'float32'})

In [20]:
# Исправление неправильных данных
def bank_accounts(accounts):
    if accounts > 12:
        return df["Num_Bank_Accounts"].median()
    if accounts < 0:
        Accounts = abs(accounts)
        if Accounts > 12:
            return df["Num_Bank_Accounts"].median()
        else:
            return Accounts
    return accounts

df["Num_Bank_Accounts"] = df["Num_Bank_Accounts"].apply(bank_accounts)

In [21]:
# Изменение типа данных в столбце Num_Bank_Accounts
df = df.astype({'Num_Bank_Accounts': 'int32'})

In [22]:
# Исправление неправильных данных
def credit_cards(cards):
    if cards > 12:
        return df["Num_Credit_Card"].median()
    if cards < 0:
        Cards = abs(cards)
        if Cards > 12:
            return df["Num_Credit_Card"].median()
        else:
            return Cards
    return cards

df["Num_Credit_Card"] = df["Num_Credit_Card"].apply(credit_cards)

In [23]:
# Изменение типа данных в столбце Num_Credit_Card
df = df.astype({'Num_Credit_Card': 'int32'})

In [24]:
# Исправление неправильных данных
def interest_rate(rate):
    if rate > 50:
        return df["Interest_Rate"].median()
    if rate < 0:
        Rate = abs(rate)
        if Rate > 50:
            return df["Interest_Rate"].median()
        else:
            return Rate
    return rate

df["Interest_Rate"] = df["Interest_Rate"].apply(interest_rate)

In [25]:
# Очистка поля
df["Num_of_Loan"] = df["Num_of_Loan"].str.replace(r'[_\s-]', '', regex = True)

In [26]:
# Изменение типа данных в столбце Num_of_Loan
df = df.astype({'Num_of_Loan': 'int32'})

In [27]:
# Исправление неправильных данных
def num_loan(num):
    if num > 20:
        return df["Num_of_Loan"].median()
    if num < 0:
        Num = abs(num)
        if Num > 20:
            return df["Num_of_Loan"].median()
        else:
            return Num
    return num

df["Num_of_Loan"] = df["Num_of_Loan"].apply(num_loan)

In [28]:
# Исправление неправильных данных
def delay(days):
    if days < 0:
        return abs(days)
    return days

df["Delay_from_due_date"] = df["Delay_from_due_date"].apply(delay)

In [29]:
# Исправление неправильных данных

def delay(days):
    if days < 0:
        return abs(days)
    return days

df["Delay_from_due_date"] = df["Delay_from_due_date"].apply(delay)